@model IEnumerable<DRK.DVDCentral.BL.Models.Genre>

<ul>
    @foreach (var movie in Model)
    {
        <li>
            <a asp-controller="Genre"
            asp-action="Browse">@movie.Description</a>
        </li>
    }
</ul>