@model IEnumerable<DRK.DVDCentral.BL.Models.Genre>

<ul>
    @foreach (var genre in Model)
    {
        <li>
            <a asp-controller="Movie"
            asp-action="Browse"
            asp-route-id="@genre.Id">@genre.Description </a>
        </li>
    }
    @*Fixed the stuff below to display in the nav bar instead of the sidebar*@
   @* <li><a asp-controller="User" asp-action="Login">Login</a></li>
    <li><a asp-controller="User" asp-action="Logout">Logout</a></li>
    <li><a asp-controller="Movie" asp-action="Index">All Movies</a></li>*@

</ul>