@model DRK.DVDCentral.UI.ViewModels.MovieVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input hidden asp-for="Movie.Id" class="form-control" />

            <div class="form-group">
                <label asp-for="Movie.Title" class="control-label"></label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Description" class="control-label"></label>
                <input asp-for="Movie.Description" class="form-control" />
                <span asp-validation-for="Movie.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Movie.Genres" class="control-label"></label>
                <input asp-for="Movie.Genres" class="form-control" />
                <span asp-validation-for="Movie.FormatId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Movie.FormatId" class="control-label"></label>
                <input asp-for="Movie.FormatId" class="form-control" />
                <span asp-validation-for="Movie.FormatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.DirectorId" class="control-label"></label>
                <input asp-for="Movie.DirectorId" class="form-control" />
                <span asp-validation-for="Movie.DirectorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.RatingId" class="control-label"></label>
                <input asp-for="Movie.RatingId" class="form-control" />
                <span asp-validation-for="Movie.RatingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Cost" class="control-label"></label>
                <input asp-for="Movie.Cost" class="form-control" />
                <span asp-validation-for="Movie.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.InStkQty" class="control-label"></label>
                <input asp-for="Movie.InStkQty" class="form-control" />
                <span asp-validation-for="Movie.InStkQty" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Movie.RatingDescription" class="control-label"></label>
                <input asp-for="Movie.RatingDescription" class="form-control" />
                <span asp-validation-for="Movie.RatingDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.DirectorFullName" class="control-label"></label>
                <input asp-for="Movie.DirectorFullName" class="form-control" />
                <span asp-validation-for="Movie.DirectorFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.FormatDescription" class="control-label"></label>
                <input asp-for="Movie.FormatDescription" class="form-control" />
                <span asp-validation-for="Movie.FormatDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.FullName" class="control-label"></label>
                <input asp-for="Movie.FullName" class="form-control" />
                <span asp-validation-for="Movie.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
